body{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;

}

.title{
	font-size: 20px;
    font-family: "SF Pro Text","Helvetica Neue","Helvetica","Arial",sans-serif;
    width: 500px;
}



#sketch-holder{
	margin: auto;
	height: 500px;
	width: 500px;
}