/* body{
  background: rgb(240, 64, 0);
}

.wrapper, html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
		justify-content:center;
    align-items: center;
}

#row1 {
    background-color: red;
		width: 200px;
}
#row2 {
    background-color: blue;
}
#row3 {
    background-color: green;
    display: flex;
    width: 500px;
    height: 200px;
}
#col1 {
    background-color: yellow;
    flex: 1;
}
#col2 {
    background-color: orange;
    flex: 1;
}
#col3 {
    background-color: purple;
    flex: 2;
}

.title{
    font-size: 30px;
    font-family: "SF Pro Text","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: white;
    font-weight: bold;

    position: relative;
    top: 450px;
    left: -50px;
} */
#Artboard {
  transform: rotateY(70deg);
}